BookingService/bin
BookingService/obj
BookingService/appsettings.json
BookingService/appsettings.Development.json
BookingService.Tests/bin
BookingService.Tests/obj
client/BookingService.Client/src/BookingService.Client/bin
client/BookingService.Client/src/BookingService.Client/obj
.vs/